<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  IgnorableNamespaces="uap mp uap3 iot uap4 uap6 uap2">

  <Identity
    Name="111-222-333-444-555-666"
    Publisher="CN=Lnetface"
    Version="1.6.0.0" />

  <mp:PhoneIdentity PhoneProductId="6e905796-99a5-40dc-b6b1-e157b31c4a46" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>牛逼工具箱</DisplayName>
    <PublisherDisplayName>Lnetface</PublisherDisplayName>
    <Logo>Assets\ApPIcons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="App.App">
      <uap:VisualElements
        DisplayName="牛逼工具箱"
        Square150x150Logo="Assets\ApPIcons\Square150x150Logo.png"
        Square44x44Logo="Assets\ApPIcons\Square44x44Logo.png"
        Description="牛逼就完啦！！！"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\ApPIcons\Wide310x150Logo.png" Square71x71Logo="Assets\ApPIcons\SmallTile.png" Square310x310Logo="Assets\ApPIcons\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\ApPIcons\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>